エラーやサーバーメンテで中断したため、分割して取得したdates情報を連結

In [2]:
import pandas as pd
df1 = pd.read_csv("unique_player_dates-1.csv")
df2 = pd.read_csv("unique_player_dates-2.csv")
df3 = pd.read_csv("unique_player_dates-3.csv")
unique_player_dates_df = pd.concat([df1, df2, df3], axis=0)

連結後のunique_player_datesとunique_player_namesを比較し、dates情報をスクレイピングできなかったプレーヤー名を取得する

In [3]:
unique_player_names_df = pd.read_csv('unique_player_names.csv')

odd_man_out = unique_player_names_df[~unique_player_names_df['Player name'].isin(unique_player_dates_df['Player name'])]

#print(odd_man_out)

In [4]:
odd_man_out.to_csv("odd_man_out.csv", index=False)

unqiue_player_dates-4は上記で取得したスクレイピング漏れのプレーヤーに対して、再度3unique_player_dates.pyを走らせてdates情報を取得できたもの。unique_player_dates_dfとdf4を連結して、unique_player_dates_df2を作成。

In [5]:
df4 = pd.read_csv("unique_player_dates-4.csv")

In [6]:
unique_player_dates_df2 = pd.concat([unique_player_dates_df, df4], axis=0)

unique_player_dates_df2 に unique_player_dates_dailyを連結(df3)し、重複プレーヤーを削除、最終unique_player_dates_df4を作成し、unique_player_datesとしてcsvに書き出し

In [11]:
df_daily = pd.read_csv("unique_player_dates_daily.csv")
unique_player_dates_df3 = pd.concat([unique_player_dates_df2, df_daily], axis=0)
unique_player_dates_df4 = unique_player_dates_df3.drop_duplicates(subset=['Player name'])
unique_player_dates_df4

,Player name,Joined,Last Online,Scraping time,Last Online chess.com server time
0,Angry_Twin,"Aug 4, 2012",1 day ago,2023-04-02 13:47:30,2023-03-31 18:47:30
1,Ryuzaki_Mochizuki,"Oct 27, 2020","Jan 16, 2023",2023-04-02 13:47:36,2023-01-16 00:00:00
2,csgt_voz,"Oct 26, 2022",9 days ago,2023-04-02 13:47:43,2023-03-23 18:47:43
3,Black-Flash,"Jul 31, 2021",1 day ago,2023-04-02 13:47:50,2023-03-31 18:47:50
4,Gats1,"Oct 12, 2020",4 days ago,2023-04-02 13:47:57,2023-03-28 18:47:57
...,...,...,...,...,...
4683,hazuki23,"Mar 14, 2015",1 day ago,2023-04-04 15:41:52,2023-04-02 20:41:52
4704,dragonhidemomo1,"Dec 17, 2019","Jan 18, 2023",2023-04-04 15:43:33,2023-01-18 00:00:00
4706,ChristopherKavanaugh,"Jun 17, 2018",1 hour ago,2023-04-04 15:43:42,2023-04-03 19:43:42
4711,YasuoG,"Nov 2, 2012","Dec 13, 2022",2023-04-04 15:44:06,2022-12-13 00:00:00
4714,Procrastinator200,"Dec 11, 2022",2 hours ago,2023-04-04 15:44:20,2023-04-03 18:44:20

In [13]:
unique_player_dates_df4.to_csv("unique_player_dates.csv", index=False)